form, .user-data-container {
  width: 30vw;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
label {
  padding-bottom: 5px;
}
input {
  padding: 5px;
  margin-bottom: 30px;
}
button {
  background-color: grey;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: 0px;
}
button:hover {
  opacity: 0.8;  
}
.title-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 10px;
}
.title-container h1 {
  font-size: 60px;
  font-weight: 400;
}
.title-container img {
  width: auto;
  height: auto;
  max-width: 30%;
}
.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content-container .repos ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-top: 10px;
}
.content-container .repos li {
  border: 1px solid grey;
  padding: 5px;
  text-indent: 10px;
}